<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ '/assets/css/main.css' | relative_url }}"
    >
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/favicon.ico' | relative_url }}"
    >
    {% seo %}
  </head>
  <body>
    {{ content }}

    <!-- <script src='main.js'></script> -->
    {%- include analytics.html -%}
  </body>
</html>
